.slider {
  overflow: hidden;
  text-align: center;
  position: relative;
  max-height: 300px;
  border-radius: 10px;
  cursor: pointer;

  &:hover {
    .buttons {
      display: initial;
    }
  }

  .buttons {
    position: absolute;
    border-radius: 2px;
    height: 100%;
    width: 100%;
    z-index: 1;
    display: none;

    button {
      height: 100%;
      width: 40px;
      border: none;
      background-color: transparent;
      outline: 0;
      cursor: pointer;

      i {
        font-size: 18px;
        color: white;
      }
    }

    .prevButton {
      float: left;
    }

    .nextButton {
      float: right;
    }
  }

  img {
    width: 500px;
    border-radius: 10px;
    filter: sepia(0.5);
    margin: 0;
  }
}
